@import "../style.css";

body {
    scroll-snap-type: y mandatory; 
}

#cover {
    scroll-snap-align: start;
}

#work {
    --tile-size: min(70vh, 30vw);
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 100vh;
    scroll-snap-align: start; 
    
    transition: background-color 200ms linear;
}

#work-bg {
    z-index: -2;

    background-position: center;
    background-size: cover;

    transition: background-image 200ms linear;
}

#work-overlay {
    pointer-events: none;
}

#work-tile {
    z-index: 3;
    pointer-events: none;

    position: absolute;
    overflow: hidden;

    width: var(--tile-size);
    height: var(--tile-size);

    left: calc(25vw - var(--tile-size) / 2);
    top: calc(50vh - var(--tile-size) / 2);

    padding: calc(var(--tile-size) * 0.15);
    
    color: #1F305E;
    
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/public/images/web/Tile.jpg');
}

#work-cta {
    pointer-events: all;
}

#work-title  {
    height: min-content;
    font-weight: bold;
    font-size: calc(0.12 * var(--tile-size));
    height: 1em;
    margin-block-end: 0.1em;
}

#work-date {
    font-style: italic;
    font-size: calc(0.04 * var(--tile-size));
}

#work-text {
    font-family: 'Roboto';
    margin-block-start: 0.67em;
    font-size: min(calc(0.04 * var(--tile-size)), 1em);
}

#work-cta {
    font-family: 'Roboto';
    position: absolute;
    width: 60%;
    height: 10%;
    left: 20%;
    bottom: 5%;
    color: #1F305E;
    background-color: transparent;
    border-color: #1F305E;
    border-width: 2px;
}

#scrollbar {
    z-index: 2;
    backdrop-filter: brightness(60%);

    padding-block: 50vh;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    overflow-y: scroll;
    scroll-snap-type: y mandatory; 
    scroll-behavior: smooth;  
}

#scrollbar img {
    z-index: 1;
    width: 6vw;
    max-width: 6vw;
    height: auto;
    transform: translateY(-50%);
}

.work-step:first-child {
    margin-top: 0;
}

.work-step {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    margin-bottom: 6%;
    margin-top: -2%;
}

@media screen and (max-aspect-ratio: 1) {
    #scrollbar {
        padding-block: 27vh !important;
        height: 100vh !important;
    }

    .work-step:first-child {
        margin-top: 22vh !important;
    }

    #work {
        --tile-size: min(40vh, 80vw) !important;
    }

    #work-tile {
        left: calc(50vw - var(--tile-size) / 2) !important;
        top: calc(25vh - var(--tile-size) / 2) !important;
    }
}

@media screen and (min-aspect-ratio: 3/1) {
    #work-bg {
        background-size: contain !important;
    }
}